<html>
  <head>
     <title>Jonathan Kok Personal Website</title>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

  </head>

  <body>


    <div class="container">
      <header class="row page-header">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-4" id="header-name">
        Jonathan Kok
        <br>
        <span>Fullstack Developer</span>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-8" id="header-menu">

         <a id="menu" href="#">RESUME<a>
         <a id="menu" href="#">PROJECTS</a>
         <a id="menu" href="#">CONTACTS</a>

        </div>
      </header>
      <aside class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" id="profile-pic">
          <img src="jonathan.png" class="img-responsive" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" id="profile-description">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </aside>


    </div>





  </body>
</html>
