<html>
  <head>
     <title>Jonathan Kok Personal Website</title>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

  </head>

  <body>


    <div class="container">
      <header class="row page-header">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-4" id="header-name">
        <a id="name" href="/">
        Jonathan Kok
        </a>
        <br>
        <span>Fullstack Developer</span>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-8" id="header-menu">

         <a id="menu" href="Jonathan_Kok_Resume.pdf" target="_blank">RESUME</a>
         <a id="menu" href="/projects">PROJECTS</a>
         <a id="menu" href="/contact">CONTACTS</a>

        </div>
      </header>
      <aside class="row">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5" id="profile-pic">
          <img src="jonathan.png" class="img-responsive" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7" id="profile-description">
          <p>My passion towards researching historic events allowed me to understand how societies and cultures were able to progress and develop, pushing me to analyze trends and make connections between events. This ultimately made me appreciate how learning broadens the mind.

</p>

          <p>
            Today I am a Full-stack developer as a result of my pursuit for knowledge. I build web applications from concept to completion. Through outside resources and google, I gained knowledge in HTML, CSS, Javascript, NodeJs, ReactJs, PostGres, and SQL.
          </p>

        </div>
      </aside>


    </div>





  </body>
</html>
