<html>
	<head>
	   <title>Jonathan Kok Personal Website</title>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

	</head>

	<body>
    <div class="container">
      <div class="page-header row" id="page-header">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-8">
          <img src="jonathan.png" class="img-responsive" />
        </div>
        <div class="col-lg-9" id="name">
          Jonathan Kok
          <br>
          <div id="description">
          Fullstack Developer
          </div>
          <div class="social-media-icons col-lg-12 col-md-8" >
            <a href="https://github.com/jon825">
              <i class="fa fa-github-alt fa-3x"></i>
            </a>
            <a href="https://github.com/jon825">
              <i class="fa fa-envelope-o fa-3x"></i>
            </a>
            <a href="https://linkedin.com/in/jonathan-kok-51363011b">
              <i class="fa fa-linkedin fa-3x"></i>
            </a>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-7 co-xs-12" id="header-quote">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer to</p>
          </div>
        </div>
      </div>
    </div>



      <div class="row">

      </div>

      <div class="jumbotron">

      </div>


    </div>

	</body>
</html>


















<!--

   <header class="container-fluid" id="background-header">
      <div class="row" id="test1">
        <div class="col-sm col-md col-lg">
          <img src="jonathan.png" />
        </div>
      <div id="name" class="col-sm">
        <h1>Jonathan Kok</h1>
      </div>


                <h3>fullstack developer</h3>
            <div class="row social-media-icons" >
                <a href="https://github.com/jon825">
                <i class="fa fa-github-alt fa-3x"></i>
                </a>
                <i class="fa fa-envelope-o fa-3x"></i>
                <i class="fa fa-linkedin fa-3x"></i>

            </div>

            <div id="quote" class="row">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


            </div>


            </header>

            <div class="container-fluid box">
            </div>


 -->
