<html>
  <head>
     <title>Jonathan Kok Personal Website</title>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

  </head>

  <body>


    <div class="container">
      <header class="row page-header">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-4" id="header-name">
          <a id="name" href="/">
          Jonathan Kok
          </a>
          <br>
          <span>Fullstack Developer</span>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-8" id="header-menu">

         <a id="menu" href="Jonathan_Kok_Resume.pdf" target="_blank">RESUME<a>
         <a id="menu" href="#">PROJECTS</a>
         <a id="menu" href="#">CONTACTS</a>

        </div>
      </header>
      <aside class="row">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5" id="profile-pic">
          <img src="jonathan.png" class="img-responsive" />
        </div>

        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7" id="projects-row">
          <div class="row" id="projects">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" id="project-description">
                <h3>Tic-Tac-Toe</h3>
                <br>
                Basic tic-tac-toe game developed through Pair Programming with a fellow classmate from Brainstation using Reactjs. Objective of the game is to This app was deployed through surge.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" >
              <img id="project-img" src="tic-tac-toe.png" class="img-responsive" />
            </div>
          </div>
          <div class="row" id="projects">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" id="project-description">
                <h3>Cookbook</h3>
                <br>
                CookBook is here to help you find any recipes available with your current ingredients. Just input some ingredients available in your fridge, and CookBook will find you the closest human edible recipe based on said ingredients.

                Built with Brain Station graduate from Toronto. Frontend user interface leverages React and Webpack. Backend is built with Node.js.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" id="project-img-cookbook" >
              <img id="project-img" src="cookbook.png" class="img-responsive" />
            </div>
          </div>

        </div>

      </aside>


    </div>





  </body>
</html>
