#header-name{
    font-family:avenir;
    font-size:40px;
}

#header-name span{
    font-size:19px;
    font-style:italic;
}

#header-menu{
    text-align:right;
    white-space: nowrap;
    top:50px;
    font-size:15px;
}

#menu{
    margin-left:10%;
    color:black;
}

#menu:hover{
    color:gray;
    text-decoration: none;
}

#name{
    color:black;
}

#name:hover{
    color:gray;
    text-decoration: none;
}



section{
    border:solid;
}

#profile-description{
    text-align: center;
    font-family:avenir, serif;
    font-size:22px;
}

@media (max-width: 991px) {
    #profile-description{
        font-size: 18px;
    }
 }



@media (max-width: 768px) {
    #profile-description{
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    #profile-description{
        font-size: 14px;
    }
 }








/*.jumbotron{
    background-color:#2E2D88;
    color:white;
}*/
/* Adds borders for tabs */
/*.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}

#name{
    font-family:avenir;
    font-size:90px;
    left:70px;
}

#description{
    font-family:leitura-news, serif;
    font-style:normal;
    font-weight:600;
    font-size:25px;
    left:70;

}

img{
      border-radius:40px;

}
.social-media-icons{
    font-size:15px;
    top:20px;
    left:-10px;
    color:black;

}

#header-quote{
    font-size:20px;
    top:30px;
    left:-10px;
}

.fa{
    padding-right: 15%;
}

.social-media-icons a{
    color:black;
}

.social-media-icons a:hover{
    color:darkgray;
}

#page-header{
    padding-bottom:22px;
}










*/


















/*header{
    height:55%;
    text-align:center;
    font-family:avenir;
    border:solid;
    border-color:teal;
}

#profile-pic{

  height:100%;
  width:30%;
  border:solid;
  border-color:red;
}



#test1{
    border:solid;
    border-color:blue;
    height:100%;
    left:100px;
}


img{
  height:100%;
  width:100%;
  border-radius:40px;
  border:solid;
  border-color: blue;
}


#name h1{
    font-size:100px;
    border:solid;
    position:absolute;
    border-color: salmon
}

#quote{

    height:20%;
    width:70%;
    position:absolute;
    top:230px;
    left:300px;
    font-family:leitura-news, serif;
    font-style:normal;
    font-weight:600;
    font-size:19px;
    border:solid;
    border-color: pink
}







.box{
    height:40%;
    border:solid;
    border-color:salmon;
}

*/
