body {
    font-family: leitura-news, serif;
    font-style: normal;
    font-weight: 400;
}



#header-name{
    font-family:avenir;
    font-size:40px;
}

#header-name span{
    font-size:19px;
    font-style:italic;
}

#header-menu{
    text-align:right;
    white-space: nowrap;
    top:50px;
    font-size:15px;
}

#menu{
    margin-left:10%;
    color:black;
}

#menu:hover{
    color:gray;
    text-decoration: none;
}

#name{
    color:black;
}

#name:hover{
    color:gray;
    text-decoration: none;
}

#profile-description{
    text-align: left;
    font-family:avenir, serif;
    font-size:18px;
}


#projects{
    border:solid;
}

#project-description{
    font-size:17px;
}

#project-img{
    border-radius:40px;

}

#project-img-cookbook{
    top:20px;
}

#greenleaf-img{
    -webkit-filter: blur(2px);
      filter: blur(9px);
}

.item{
    text-align:center;
}

@media (max-width: 991px) {
    #profile-description{
        font-size: 18px;
    }
 }



@media (max-width: 768px) {
    #profile-description{
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    #profile-description{
        font-size: 14px;
    }
 }


.item .overlay{
    position:absolute;
    top:0;
    left: 0;
    bottom:0;
    width: 100%;
    opacity:0;
    color:white;
    background-color:rgba(0,0,0,0);
}

.item img{
    width: 100%;
}

.overlay:hover{
    opacity: 1;
    background: rgba(0,0,0,0.2);

}

.carousel-inner img:hover{
    -webkit-filter: blur(2px);
      filter: blur(9px);
}






